[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
Environment="TERM=xterm-24bit"
Environment="SSH_AUTH_SOCK=%t/gnupg/S.gpg-agent.ssh"
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target