[Unit]
Description=XScreenSaver

[Service]
ExecStart=/usr/bin/xscreensaver -no-splash -display :0
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
