# -*- mode: shell-script -*-

#alias npm='noglob npm'

# Vagrant
vagrant() {
    if [[ $1 == "remake" ]]; then
        shift $((2 > $# ? $# : 2))
        command vagrant destroy -f "$@" && vagrant up "$@" && vagrant ssh "$@"
    else
        command vagrant "$@"
    fi
}

alias vsh='vagrant ssh'
alias vup='vagrant up'
alias vhalt='vagrant halt'
alias vrl='vagrant reload'
alias vrm='vagrant destroy'
alias vrb='vagrant rebuild'

# Docker
alias dlogs='docker logs'
alias dps='docker ps'
alias dclobber='docker stop `docker ps -qa` && docker rm `docker ps -qa`'

# Emacs
alias emacs='TERM=xterm-256color emacs -nw'
alias gmacs='emacs -c'
alias emacsd='TERM=xterm-256color emacs --daemon'
alias emacsc='TERM=xterm-256color emacsclient -t'
alias tmuxconf='TERM=xterm-256color emacsclient -t $HOME/.tmux.conf'
alias emacsconf='TERM=xterm-256color emacsclient -t $HOME/.emacs.conf'
alias e='TERM=xterm-256color emacsclient -t .'
alias ecode='TERM=xterm-256color emacsclient -t /code'
alias ehome='TERM=xterm-256color emacsclient -t $HOME'

# Tmux
alias tmux='TERM=xterm-256color tmux -2'
alias tml='tmux list-sessions'
alias tma='tmux attach -t'

# Wemux
alias wemux='TERM=xterm-256color wemux'
alias wml='wemux list-sessions'
alias wma='wemux attach -t'
alias wmr='wemux r'

# Tmuxinator
alias mux='tmuxinator'
alias muxs='tmuxinator start'
alias muxq='tmuxinator stop'

# Git
alias gpo='git pull origin'
alias gpu='git pull upstream'
alias gcm='git commit -m'

# Utils
alias _ls='ls'
alias ls='ls --color=auto -Flah'
alias psg='ps -ef | grep '

# Expand aliases after using sudo
alias sudo='sudo '

# Xscreensaver
alias locks='xscreensaver-command --lock'

# Systemd
alias sc='systemctl'
alias scr='systemctl restart'
alias scstat='systemctl status'
alias scstart='systemctl start'
alias scstop='systemctl stop'
alias sce='systemctl enable'
alias scd='systemctl disable'

alias scu='systemctl --user'
alias scur='systemctl --user restart'
alias scus='systemctl --user status'
alias scuon='systemctl --user start'
alias scuoff='systemctl --user stop'
alias scue='systemctl --user enable'
alias scud='systemctl --user disable'

# Kubectl
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias kgn='kubectl get namespaces'
alias kc='kubectl'
alias kgc='kubectl config get-context'
alias ksc='kubectl config set-context'
alias kuc='kubectl config use-context'
alias kdd='kubectl describe deployment'
alias kdp='kubectl describe pod'
alias kd='kubectl describe'
alias kl='kubectl logs'
alias klf='kubectl logs --follow'
alias kxit='kubectl exec -it'

kgpl() {
    if [[ $# = 1 ]]; then
        index=*
        selector=$@
    elif [[ $# = 2 && $2 =~ ^[0-9]+$ ]]; then
        index=$2
        selector=${@:1:1}
    else
        echo "Usage: kgpl [label_selector] ([pod index])"
        exit 1
    fi

    command kubectl get pods -o=jsonpath="{.items[${index}].metadata.name}" -l $selector
}

kllabel() {
    if [[ $# = 1 ]]; then
        args=$@
        args+=(0)
    else
        args=$@
    fi
    command kubectl logs `kgpl ${args}`
}

klfl() {
    if [[ $# = 1 ]]; then
        args=$@
        args+=(0)
    else
        args=$@
    fi
    command kubectl logs --follow `kgpl ${args}`
}

# Docker
alias dclobber='docker stop `docker ps -qa` && docker rm `docker ps -qa`'
alias dclbr='docker stop `docker ps -qa` && docker rm `docker ps -qa`'

# GPG
alias gpgtty='echo UPDATESTARTUPTTY | gpg-connect-agent'

# ??? Profit
alias ethereum='GPU_FORCE_64BIT_PTR=0 GPU_MAX_HEAP_SIZE=100 GPU_USE_SYNC_OBJECTS=1 GPU_MAX_ALLOC_PERCENT=100 GPU_SINGLE_ALLOC_PERCENT=100 ethminer --farm-recheck 200 -G -S us1.ethermine.org:4444 -FS us2.ethermine.org:4444 -O bdbea111a9cd0816ebdd86073bfd373e5b9c9099.meowth'

[[ -f $HOME/.work.aliases ]] && source $HOME/.work.aliases
[[ -f $HOME/.extend.aliases ]] && source $HOME/.extend.aliases
