# -*- mode: shell-script -*-

#alias npm='noglob npm'

# Vagrant

vagrant() {
    if [[ $1 == "remake" ]]; then
	shift $((2 > $# ? $# : 2))
	command vagrant destroy -f "$@" && vagrant up "$@" && vagrant ssh "$@"
    else
        command vagrant "$@"
    fi
}

alias vsh='vagrant ssh'
alias vup='vagrant up'
alias vhalt='vagrant halt'
alias vrl='vagrant reload'
alias vrm='vagrant destroy'
alias vrb='vagrant rebuild'

# Emacs
alias emacs='TERM=xterm-256color emacs -nw'
alias gmacs='emacs -c'
alias emacsd='TERM=xterm-256color emacs --daemon'
alias emacsc='TERM=xterm-256color emacsclient -t'
alias tmuxconf='emacsc $HOME/.tmux.conf'
alias emacsconf='emacsc $HOME/.emacs.conf'

# Tmux
alias tmux='TERM=xterm-256color tmux -2'
alias tml='tmux list-sessions'
alias tma='tmux attach -t'

# Tmuxinator
alias mux='tmuxinator'
alias muxs='tmuxinator start'
alias muxq='tmuxinator stop'

# Git
alias gpo='git pull origin'
alias gpu='git pull upstream'
alias gcm='git commit -m'

# Utils
alias ls='ls --color=auto -Flah'
alias psg='ps -ef | grep '

# Expand aliases after using sudo
alias sudo='sudo '

alias pm='pacman'
alias pms='pacman -S'

alias locks='xscreensaver-command --lock'
