#!/usr/bin/env zsh

source $HOME/.profile

# Run global xprofile if it exists
[[ -f /etc/xprofile ]] && . /etc/xprofile

# Import xrdb entries and reload previous Pywal colors
[[ -f $HOME/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
[[ -f $HOME/.Xdefaults ]] && xrdb -merge -I$HOME ~/.Xdefaults
[[ `command -v wal-set` ]] && wal-set -R || true

# Map CapsLock to Ctrl
find $HOME -maxdepth 1 -name ".[Xx]modmap" | xargs -r xmodmap

# Run local additions if they exist
[[ -f $HOME/.extend.xprofile ]] && . $HOME/.extend.xprofile
