#!/usr/bin/env bash

# Run global xprofile if it exists
[[ -f /etc/xprofile ]] && . /etc/xprofile

# Import xrdb entries and reload previous Pywal colors
[[ -f $HOME/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
[[ -f $HOME/.Xdefaults ]] && xrdb -merge -I$HOME ~/.Xdefaults
[[ -f /usr/bin/wal ]] && wal -R

# Map CapsLock to Ctrl
[[ -f $HOME/.Xmodmap ]] && xmodmap $HOME/.Xmodmap

# Run local additions if they exist
[[ -f $HOME/.extend.xprofile ]] && . $HOME/.extend.xprofile
